<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= active_class(params[:id] == 'added_cases') %>" href="<%= usage_report_path(id: 'added_cases') %>">Added cases this month</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= active_class(params[:id] == 'synced_cases') %>" href="<%= usage_report_path(id: 'synced_cases') %>">Synced cases this month</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= active_class(params[:id] == 'cross_referral_oscar') %>" href="<%= usage_report_path(id: 'cross_referral_oscar') %>">Cross referral within OSCaR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= active_class(params[:id] == 'cross_referral_primero') %>" href="<%= usage_report_path(id: 'cross_referral_primero') %>">Cross referral with Primero</a>
  </li>
</ul>
