<% content_for :page_title do %>
  <%= "Usage Report for #{params[:q][:month_eq]}/#{params[:q][:year_eq]}" %>
<% end %>

<%= render "tabs_menu" %>

<div class="tab-content my-2">
  <div class="row">
    <div class="col-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NGO Name</th>
            <th scope="col">Total client</th>
            <th scope="col">Adult female without disability</th>
            <th scope="col">Adult female with disability</th>
            <th scope="col">Adult male without disability</th>
            <th scope="col">Adult male with disability</th>
            <th scope="col">Child female without disability</th>
            <th scope="col">Child female with disability</th>
            <th scope="col">Child male without disability</th>
            <th scope="col">Child male with disability</th>
            <th scope="col">Other</th>
          </tr>
        </thead>
        <tbody>
          <% @usage_reports.each do |report| %>
            <tr>
              <th scope="row"><%= report.organization.full_name %></th>
              <td><%= report.added_cases['total'] %></td>
              <td><%= report.added_cases['adult_female'] - report.added_cases['adult_female_with_disability'] %></td>
              <td><%= report.added_cases['adult_female_with_disability'] %></td>
              <td><%= report.added_cases['adult_male'] - report.added_cases['adult_male_with_disability'] %></td>
              <td><%= report.added_cases['adult_male_with_disability'] %></td>
              <td><%= report.added_cases['child_female'] - report.added_cases['child_female_with_disability'] %></td>
              <td><%= report.added_cases['child_female_with_disability'] %></td>
              <td><%= report.added_cases['child_male'] - report.added_cases['child_male_with_disability'] %></td>
              <td><%= report.added_cases['child_male_with_disability'] %></td>
              <td>0</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <%= simple_form_for @q, url: usage_report_path(id: 'added_cases'), method: :get do |f| %>
      
        <div class="row">
          <div class="col-6">
            <%= f.input :month_eq, collection: (1..12), wrapper: :vertical_select, label: 'Month' %>
          </div>
        
          <div class="col-6">
            <%= f.input :year_eq, collection: (2000..Date.current.year), wrapper: :vertical_select, label: 'Year' %>
          </div>
        </div>

        <%= f.input :organization_id_in, label: 'NGO', collection: Organization.pluck(:full_name, :id), input_html: { multiple: true } %>
        <%= f.input :organization_full_name_cont, label: "NGO Full Name" %>
        <%= f.input :organization_country_eq, collection: [Organization::SUPPORTED_COUNTRY.map(&:titleize), Organization::SUPPORTED_COUNTRY].transpose, wrapper: :horizontal_select, input_html: { multiple: true }, label: "Country" %>
        <%= f.input :organization_demo_true, as: :boolean, label: 'Demo?' %>

        <%= f.label :organization_onboarding_date, label: "Onboarding date" %>
        <div class="row">
          <div class="col-6">
            <%= f.input :organization_created_at_gteq, label: false, input_html: { class: "form-control flatpickr" }, placeholder: "From" %>
          </div>
        
          <div class="col-6">
            <%= f.input :organization_created_at_lteq, label: false, input_html: { class: "form-control flatpickr" }, placeholder: "To" %>
          </div>
        </div>
        

        <%= f.submit 'Submit', class: "btn btn-primary" %>
        <%= link_to "Clear Search", usage_report_path(id: 'added_cases')  %>
      <% end %>
    </div>
  </div>
</div>
