<div class="tab-content my-2">
  <div class="row">
    <div class="col-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NGO Name</th>

            <th scope="col">Sign-up date</th>
            <th scope="col">Current sharing</th>
            <th scope="col">Total cases synced</th>
            <th scope="col">Adult female without disability</th>
            <th scope="col">Adult female with disability</th>
            <th scope="col">Adult male without disability</th>
            <th scope="col">Adult male with disability</th>
            <th scope="col">Child female without disability</th>
            <th scope="col">Child female with disability</th>
            <th scope="col">Child male without disability</th>
            <th scope="col">Child male with disability</th>
            <th scope="col">Other</th>
          </tr>
        </thead>
        <tbody>
          <% @usage_reports.each do |report| %>
            <tr>
              <th scope="row"><%= report.organization.full_name %></th>
              <td></td>
              <td></td>
              <td><%= report.added_cases['total'] %></td>
              <td><%= report.added_cases['adult_female'] - report.added_cases['adult_female_with_disability'] %></td>
              <td><%= report.added_cases['adult_female_with_disability'] %></td>
              <td><%= report.added_cases['adult_male'] - report.added_cases['adult_male_with_disability'] %></td>
              <td><%= report.added_cases['adult_male_with_disability'] %></td>
              <td><%= report.added_cases['child_female'] - report.added_cases['child_female_with_disability'] %></td>
              <td><%= report.added_cases['child_female_with_disability'] %></td>
              <td><%= report.added_cases['child_male'] - report.added_cases['child_male_with_disability'] %></td>
              <td><%= report.added_cases['child_male_with_disability'] %></td>
              <td>0</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render "filter" %>
  </div>
</div>
