<div class="col-3 col-xl-2">
  <%= simple_form_for @q, url: url_for(only_path: false), method: :get do |f| %>
  
    <div class="row">
      <div class="col-6">
        <%= f.input :month_eq, collection: (1..12), wrapper: :vertical_select, label: 'Month' %>
      </div>
    
      <div class="col-6">
        <%= f.input :year_eq, collection: (2000..Date.current.year), wrapper: :vertical_select, label: 'Year' %>
      </div>
    </div>

    <%= f.input :organization_id_in, label: 'NGO', collection: Organization.pluck(:full_name, :id), input_html: { multiple: true } %>
    <%= f.input :organization_full_name_cont, label: "NGO Full Name" %>
    <%= f.input :organization_country_in, collection: [Organization::SUPPORTED_COUNTRY.map(&:titleize), Organization::SUPPORTED_COUNTRY].transpose, input_html: { multiple: true }, label: "Country" %>
    <%= f.input :organization_demo_eq, collection: [['Yes', true], ['No', false]], label: 'Demo?' %>
    <%= f.input :organization_integrated_eq, collection: [['Yes', true], ['No', false]], label: 'Interoperability?' %>

    <%= f.label :organization_onboarding_date, label: "Onboarding date" %>
    <div class="row">
      <div class="col-6">
        <%= f.input :organization_created_date_gteq, label: false, input_html: { class: "form-control flatpickr", autocomplete: "off", value: params.dig(:q, :organization_created_date_gteq) }, placeholder: "From" %>
      </div>
    
      <div class="col-6">
        <%= f.input :organization_created_date_lteq, label: false, input_html: { class: "form-control flatpickr", autocomplete: "off", value: params.dig(:q, :organization_created_date_lteq) }, placeholder: "To" %>
      </div>
    </div>
    

    <%= f.submit 'Submit', class: "btn btn-primary" %>
    <%= link_to "Clear Search", url_for(only_path: false, id: 'added_cases')  %>
  <% end %>
</div>
