<% content_for :page_title do %>
  <%= "Usage Report for #{params[:q][:month_eq]}/#{params[:q][:year_eq]}" %>
<% end %>

<%= content_for :action do %>
  <%= link_to_if policy(UsageReport).export?, 'Export', url_for(only_path: false, q: params[:q].to_unsafe_h, format: :xlsx), class: 'btn btn-primary ml-auto' %>
<% end %>

<div class="my-2">
  <div class="row">
    <div class="col-9 col-xl-10">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col"><%= sort_link(@q, :organization_name) %></th>
              <th scope="col"><%= sort_link(@q, :organization_short_name) %></th>
              <th scope="col"><%= sort_link(@q, :organization_country) %></th>
              <th scope="col"><%= sort_link(@q, :organization_created_at) %></th>
              <th scope="col"><%= sort_link(@q, :organization_demo, 'Demo?') %></th>

              <th scope="col"># of billable clients</th>
              <th scope="col"># of billable families</th>
              <th scope="col">Manage</th>
            </tr>
          </thead>
          <tbody>
            <% @usage_reports.each do |instance| %>
              <tr>
                <td><%= instance.organization_name %></td>
                <td><%= instance.organization_short_name %></td>
                <td><%= instance.organization&.country&.titleize %></td>
                <td><%= format_value(instance.organization&.created_at) %></td>
                <td><%= format_value instance.organization&.demo? %></td>
                <td><%= instance.billable_report_items.client.where.not(billable_at: nil).size %></td>
                <td><%= instance.billable_report_items.family.where.not(billable_at: nil).size %></td>
                <td>
                  <% if instance.organization %>
                    <%= link_to 'Export', [instance, format: :xlsx] %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= render "filter" %>
  </div>
</div>



