<% content_for :page_title do %>
  <%= "User Account ##{resource.id}" %>
<% end %>

<%= content_for :action do %>
  <%= link_to 'Back', admin_users_path, class: 'btn btn-default ml-auto mr-2' %>
  <%= link_to_if policy(resource).edit?,  'Edit', edit_admin_user_path(resource), class: 'btn btn-primary' %>
<% end %>

<div class="card">
  <div class="card-body">
    <% %i(first_name last_name email role created_at).each do |field| %>
      <%= render partial: "show/row", locals: { resource: resource, field: field } %>
    <% end %>
  </div>
</div>

