<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link font-weight-bold <%= active_class(params[:scope] != 'archived') %>" href="<%= organizations_path %>">Overview</a>
  </li>
</ul>

<div class="row my-2">
  <div class="col-9 col-xl-10">
    <div class="row pie-chart-wrapper text-center">
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>Total Cases <%= @report[:raw_data][:case_overview_total] %></h5>
          </div>

          <div class="card-body">
            <div class="chart-container mx-auto" style="max-width: 500px">
              <canvas widht="100%" height="auto" class="chart-holder" data-source="<%= { client_status: @report[:chart_data][:case_overview] }.to_json %>">
              </canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>Total of Child Protection <%= @report[:raw_data][:child_protection_total] %></h5>
          </div>

          <div class="card-body">
            <div class="chart-container mx-auto" style="max-width: 500px">
              <canvas widht="100%" height="auto" class="chart-holder" data-source="<%= { client_status: @report[:chart_data][:child_protection] }.to_json %>">
              </canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>Total of Cases with Risk Assessment <%= @report[:raw_data][:total_risk_assessments] %></h5>
          </div>

          <div class="card-body">
            <div class="chart-container mx-auto" style="max-width: 500px">
              <canvas widht="100%" height="auto" class="chart-holder" data-source="<%= { client_status: @report[:chart_data][:risk_assessments] }.to_json %>">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 col-xl-2">
    <%= render 'filter' %>
  </div>
</div>
