<%= render 'nav_tabs' %>

<div class="row my-2">
  <div class="col-9 col-xl-10">
    <div class="row text-center">
      <div class="col-12 col-md-4">
        <div class="card mb-3">
          <div class="card-header">
            <h4>Total Cases <%= @report[:raw_data][:case_overview_total] %></h4>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card mb-3">
          <div class="card-header">
            <h4>Total of Child Protection <%= @report[:raw_data][:child_protection_total] %></h4>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card mb-3">
          <div class="card-header">
            <h4>Total of Cases with Risk Assessment <%= @report[:raw_data][:total_risk_assessments] %></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row pie-chart-wrapper text-center">
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5>
              Case Ovewview
            </h5>

            <div class="chart-container text-center mx-auto" style="max-heigh: 500px">
              <canvas class="pie-chart chart-holder" data-source="<%= { client_status: @report[:chart_data][:case_overview] }.to_json %>">
              </canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5>
              Case Protection
            </h5>

            <div class="chart-container text-center mx-auto" style="max-heigh: 500px">
              <canvas class="pie-chart chart-holder" data-source="<%= { client_status: @report[:chart_data][:child_protection] }.to_json %>">
              </canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5>
              Level of Risk of <%= @q.organizations_with_risk_assessment_enabled %> NGO(s)
            </h5>

            <div class="chart-container text-center mx-auto" style="max-heigh: 500px">
              <canvas class="pie-chart chart-holder" data-source="<%= { client_status: @report[:chart_data][:risk_assessments] }.to_json %>">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 col-xl-2">
    <%= render 'filter' %>
  </div>
</div>
