<!DOCTYPE html>
<html>
  <head>
    <title>OSCaR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>" class="<%= 'devise-controller' if devise_controller? %>">
    <%= render "layouts/navbar" %>
    <%= render 'layouts/flash' %>

    <% if admin_user_signed_in? %>
      <nav class="navbar navbar-light bg-light mb-2">
        <h1 class="navbar-brand mb-0 h1"><%= yield(:page_title) %></h1>
        <%= yield(:action) %>
      </nav>
    <% end %>

    <div class="container-fluid">
      <div class="row" id="content">
        <div class="<%= devise_controller? ? 'col-4 mx-auto' : 'col-12' %>">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
