<!DOCTYPE html>
<html>
  <head>
    <title>OSCaRMd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>" class="<%= 'devise-controller' if devise_controller? %>">
    <div class="container">
      <%= render "layouts/navbar" %>
      <div class="row">
        <div class="<%= devise_controller? ? 'col-4 mx-auto' : 'col-12' %>">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
